<!doctype html>
{% load bootstrap5 %}

<html lang="en">
    <head>
   	 <meta charset="utf-8">
   	 <meta name="viewport" content="width=device-width, initial-scale=1">
   	 <title>Pet Online Reserve já o banho do seu Pet</title>
   	 <!-- Bootstrap core CSS -->
   	 <!-- PRECISA POR O CAMINHO DOS STATICS -->
   	 <link href="../static/bootstrap.min.css" rel="stylesheet">
   	 <style>
   		 .bd-placeholder-img {
   			 font-size: 1.125rem;
   			 text-anchor: middle;
   			 -webkit-user-select: none;
   			 -moz-user-select: none;
   			 user-select: none;
   		 }
   			 @media (min-width: 768px) {
   				 .bd-placeholder-img-lg { font-size: 3.5rem;
   			 }
   		 }
   	 </style>
   	 <!-- Custom styles for this template -->
   	 <!-- CA TAMBEM -->
   	 <link href="../static/starter-template.css" rel="stylesheet">
    </head>
    <body>
   	 <div class="col-lg-8 mx-auto p-3 py-md-5">
   	 <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
   		 <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
   			 <span class="fs-4">PetWash</span>
   		 </a>
   	 </header>
   	 <main>
   		 <h1 class="text-body-emphasis">Fale Conosco</h1>
         <p> 
            Envie uma mensagem através do formulário abaixo ou ligue para o telefone {{responsible_number}} e fale com o responsável {{responsible_name}}.
         </p>

   		 <form action="" method="POST" id="form" novalidate>
			{% csrf_token %}
			{% bootstrap_form form %}
			{% if success %}

				<p class="alert alert-success"> Message sent successfully!</p>

			{% endif %}

   			<button type="submit" class="btn btn-primary">Send</button>	
   		 </form>

   	 </main>
   	 <footer class="pt-5 my-5 text-muted border-top">
   		 Curso Python Ultima School
   	 </footer>
   	 </div>
   	 <!-- E AQUI -->
   	 <script src="../static/bootstrap.bundle.min.js"></script>
    </body>
</html>
