{% extends "index.html" %}
{% load bootstrap5 %}
{% block main %}

<main>
	<div class="container bg-white py-5">
		<div class="row justify-content-center">
			<div class="col-10">
		
				<h1 class="text-body-emphasis text-lilac">Book a bath!</h1>
				<p> 
                    Get your pets squeaky clean and smelling delightful!
                </p>

				<form action="" method="POST" id="form" class="py-4" novalidate>
				{% csrf_token %}
				{% bootstrap_form form %}
				{% if success %}

					<p class="alert alert-success"> Message sent successfully!</p>

				{% endif %}

				<button type="submit" class="btn btn-primary">Send</button>	
				</form>

			</div>
		</div>
	</div>

</main>

{% endblock %}